@import url('https://fonts.googleapis.com/css?family=Roboto:300,500');

body {
    margin: 0;
    color: white;
    font-family: 'Roboto', sans-serif;
    /* background-image: url('../img/bg.jpg') */
}

table {
    width: 100%;
    table-layout: auto;
}

th, td {
    background-color: rgba(0, 0, 0, 0.75);
    padding: 2px 4px;
    font-size: 20px;
}

th {
    text-align: right;
    vertical-align: top;
    font-weight: normal;
    transition: width 1s;
}

td {
    vertical-align: top;
    text-align: center;
    border-spacing: 1px;
    font-weight: 200;
    transition: width 1s;
}

.preClip {
    transition: clip-path 1s;
    clip-path: polygon(0 0, 200% 0, 0 200%);
}

.clip {
    clip-path: polygon(0 0, 0 0, 0 0);
}

/* Special */

.special.green {
    color: 	#75d06c;
}

.special.seetrough {
    opacity: 0.75;
}

#widthCalculator {
    opacity: 0;
    font-weight: 200;
    font-size: 20px;
}